gensim==4.0.1
hmmlearn==0.2.5
jieba==0.42.1
mplfinance==0.12.7a12
nltk==3.6.1
pandas==1.2.4
python-Levenshtein==0.12.2
scikit-learn==0.24.1
seaborn==0.11.1
spacy==3.0.5
svgling==0.3.0
tensorflow==2.4.1
wordcloud==1.8.1
